#headericon1 {
	position: relative;
  left: 0px;
  top: -2px;
  margin-right: 0px !important;
}

#headericon2 {
	position: relative;
  left: 0px;
  top: -2px;
  margin-right: 0px !important;
}
  
#headericon3::after{
  content: none !important;
}

#slidingicon4 {
    margin-left: 10px;
    font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif;
    position: relative;
    top: 1px;
}

#slidingicon4:hover {
    border-bottom: solid 1px #724D11 !important;
}

/*
.tile .entry-date{
   display: none;
}
*/

#js-menu-trigger{
  line-height: 0px;
}

h1{
  font-weight: 610;
}

h3.home{
  font-weight: 390;
  text-align: center;
}